[Unit]
Description=bitcoind
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker pull {{ bitcoind_docker_image }}
ExecStartPre=-/usr/bin/docker rm bitcoind
ExecStart=/usr/bin/docker run \
  --net host \
  --name bitcoind \
  -v {{ volume_path }}/bitcoind/data:/bitcoin \
  {{ bitcoind_docker_image }}
ExecStop=-/usr/bin/docker stop bitcoind

Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
